body{ margin:0; background-color: black !important; }
.no-touch body{ background-color: black !important; }
h1, h2, h3, h4, h5, h6, p{ color:#FFFFFF; }

#wrapper{ max-width:100%; margin-left:0;}
#wrapper{ visibility:hidden; }
a{ color:#444; text-decoration:none; }
a:hover{ color:#000; }
a:visited{ color:#444; }

.easeinout{
  -webkit-transition: all 0.75s ease-in-out;
     -moz-transition: all 0.75s ease-in-out;
       -o-transition: all 0.75s ease-in-out;
          transition: all 0.75s ease-in-out;
}
#loader{ display:block; position:fixed; top:50%; left:50%; margin-left:-45px; margin-top:-45px; }
.container{ position:relative; }
.top-spacer{ height:300px; }
.bottom-spacer{ height:0; }

#scroll-down-btn{ cursor:pointer; margin:0px; opacity:0.6; top:auto; position:fixed; left:50%; margin-left:100px; bottom:2%; z-index:1; }
#scroll-down-btn:hover{ opacity: 1; }
.marker{ height:1px; }

section{ position:relative;overflow:hidden; background: transparent; }
.content-block{ max-width:1250px; position:relative; margin:0 auto; }

.bg_wrap{ width:100%; top:0; left:0; z-index:-1; overflow:hidden; }
.bg{ position:relative; top:0;  z-index:-1;  display:block; }

.content { /*width:400px;*/
  font-size: 1.3em;
  line-height:100%;
  padding:20px;
  font-family: "futura_ltbook", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.content p {
  padding:20px;
  line-height: 30px;
}
.front-section { padding:20px; padding-top:25%; }

#introtext, .content {
    text-align: center;
    color: white;
    display: block;
    padding: 10px 0 10px 0;
    margin-bottom: 300px;
    background: black;

    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.7 opacity */
    background: rgba(0, 0, 0, 0.4);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000, endColorstr=#B2000000)";
}

#introtext .head-amy {
    font-family: "EdwardianScrAltITCTT", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 8em;
    line-height: 100%;
}
#introtext .amp {
    position: relative;
    top: 19px;
    margin-left: -10px;
    font-size: 0.7em;
}
#introtext .head-maksim {
    font-family: "futura_ltbook", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 4em;
    line-height: 100%;
}
#introtext .date {
    margin-top: 10px;
    font-family: "futura_ltbook", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 2em;
}

/**************************************************************************
 *
 * Backgrounds - set Z-Index
 *
 *************************************************************************/
#bg_0{ z-index:-1; background:transparent no-repeat; }
#bg_1{  z-index:-2; background:transparent no-repeat; }
#bg_2{  z-index:-3; background:transparent no-repeat; }
#bg_3{  z-index:-4; background:transparent no-repeat; }
#bg_4{  z-index:-5; background:transparent no-repeat;  }

